
 body{
  width: 940px;
  background: rgba(137, 186, 243, 0.1);
  margin: 0 auto;
 }
 
 header{
  margin-bottom: 250px;
 }

 .boxes{
  display: flex;
  justify-content: center;
  height: 800px;
  
 }

 .primarybox{
  width: 60%;
}

form{
margin-top: 100px;
}

form textarea{
  display: block;

}

.primaryboxbtn{

  display: flex;
  justify-content: center;
  
}

.btn{
  margin: 10px 7px;
  padding: 5px 8px 5px 8px;
  background: rgb(6, 6, 124);
  color: white;
  

}

 .msgbox{
  width: 35%;
 }



