
 body{
  width: 940px;
  background: rgba(137, 186, 243, 0.1);
  margin: 0 auto;
 }
 
 header{
  margin: 25px 0 250px 0;
 }

 .boxes{
  display: flex;
  justify-content: center;
  height: 800px;
  
 }

 .primarybox{
  width: 60%;
}

.form{
margin-top: 100px;
}

.form textarea{
  display: block;

}

.primaryboxbtn{

  display: flex;
  justify-content: center;
  
}

.btn{
  margin: 10px 7px;
  padding: 5px 8px 5px 8px;
  background: rgb(6, 6, 124);
  color: white;
  width: 100px;
  height: 45px;
  border-radius: 1.5rem;
  transition: 500ms background;
  
}

.btn:hover{
  background-color: rgb(17, 17, 192);
  transform: scale(1.1);
}

 .msgbox{
  width: 35%;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width:850px){ 

  body{
    width: 100%;
    height: auto;
  }
  
  header{
    margin: 40px auto;
    text-align: center;
    transform: scale(2.0);
  }
 
  .boxes{
    display: block;
  }

  .primarybox{
    width: auto;
  }
  .primarybox img{
    width: 80%;
    margin: 0 10%;

  }

  .form{
    margin: 0;
  }

  .form .text-input{
    margin: 0 auto;
  }

  .msgbox{
    margin: 0 auto;
    box-sizing: border-box;

  }

  .msgbox textarea{
    display: block;
  }



  
  } 

